/* CSS Document */
/*清零代码*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr, acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong, sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption, tbody,tfoot,thead,tr,th,td{border:0;outline:0;vertical-align:baseline; background:transparent;margin:0;padding:0;}
body{line-height:1;}
body{-webkit-tap-highlight-color:rgba(0,0,0,0); }
input，textarea{-webkit-appearance: none}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
/*qq客服样式开始*/
.float0831 {
	POSITION: fixed; TOP: 180px; RIGHT: 1px; _position: absolute;font:12px "宋体";color:#333;
}
.float0831 A {
	COLOR: #00a0e9
}
.float0831 A:hover {
	COLOR: #ff8100; TEXT-DECORATION: none
}
.float0831 .floatL {
	POSITION: relative; WIDTH: 28px; FLOAT: left
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px
}
.float0831 .floatR {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .tp {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .cn {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .floatR {
	PADDING-BOTTOM: 15px; WIDTH: 130px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -131px bottom; FLOAT: left; OVERFLOW: hidden
}
.float0831 .tp {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0% 0%; HEIGHT: 10px
}
.float0831 .cn {
	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: -262px 0px
}
.float0831 .cn H3 {
	TEXT-INDENT: -9999px; HEIGHT: 36px; FONT-SIZE: 0px
}
.float0831 .cn UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; PADDING-TOP: 0px
}
.float0831 .cn UL LI {
	BORDER-BOTTOM: #e6e5e4 1px solid; LINE-HEIGHT: 36px; WORD-WRAP: break-word; HEIGHT: 36px; OVERFLOW: hidden; WORD-BREAK: normal
}
.float0831 .titZx {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titDh {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titDc {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoZx {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoTc {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoFf {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoTl {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnOpen {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnOpen_n {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnCtn {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titZx {
	BACKGROUND-POSITION: 5px -10px
}
.float0831 .titDh {
	BACKGROUND-POSITION: 5px -66px
}
.float0831 .titDc {
	BACKGROUND-POSITION: 5px -124px
}
.float0831 .icoZx {
	BACKGROUND-POSITION: 2px -154px
}
.float0831 .icoTc {
	BACKGROUND-POSITION: 0px -323px
}
.float0831 .icoFf {
	BACKGROUND-POSITION: 2px -213px
}
.float0831 .icoTl {
	PADDING-LEFT: 20px; DISPLAY: block; FONT-FAMILY: "΢ź"; BACKGROUND-POSITION: 2px -266px; FLOAT: left
}
.float0831 .btnOpen {
	BACKGROUND-POSITION: -30px -396px
}
.float0831 .btnOpen_n {
	BACKGROUND-POSITION: 0px -530px
}
.float0831 .btnCtn {
	BACKGROUND-POSITION: 0px -396px
}
.float0831 .icoZx {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoTc {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoFf {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .btnOpen {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen_n {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnCtn {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen {
	TOP: 118px; LEFT: 1px
}
.float0831 .btnOpen_n {
	TOP: 118px; LEFT: 1px
}
.float0831 .btnCtn {
	TOP: 118px; LEFT: 2px
}
.float0831 UL LI H3.titDc A {
	WIDTH: 80px; DISPLAY: block; HEIGHT: 36px
}
.float0831 UL LI.top {
	BORDER-BOTTOM: #ace5f9 1px solid
}
.float0831 UL LI.bot {
	BORDER-BOTTOM-STYLE: none
}
.float0831 UL.webZx {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/webZx_bg.jpg) no-repeat; HEIGHT: 65px; PADDING-TOP: 0px
}
.float0831 UL LI.webZx-in {
	BORDER-BOTTOM-STYLE: none; PADDING-LEFT: 5px; HEIGHT: 50px; PADDING-TOP: 8px
}

/*qq客服样式结束/

/*首页样式*/
.top-con,.logo,.nav-con,.total-con,.map-con{width:990px;margin:0px auto}
.top{width:100%;height:34px;font:12px/34px "宋体";background:#f5f5f5;border-bottom:1px solid #ddd}
.top-left{float:left;padding-left:20px;color:#666;background:url(../images/rentou2.png) no-repeat left center}
.top-left a{margin-right:10px;color:#666}
.top-left .a1{color:#ff4400}
.top-right{position:relative;float:right;color:#666}
.top-right-dw{float:left;display:block;position:relative;padding:0px 7px;color:#666}
.top-right-dw .set{color:#666}
.top-right-gwc img,.top-right-scj img,.top-right-order img{position:relative;z-index:1;vertical-align:baseline}
.top-right-dw .txt,.top-right-dw .num{position:relative;z-index:1;}
.top-right-gwc .num{margin-left:1px;font-weight:900;color:#ff4400}
.gwc-xllb{display:none;position:absolute;z-index:0;top:2px;left:0px;width:95px;padding-top:28px;background:#fff;border:1px solid #dbdbdb}
.gwc-xllb a{display:block;line-height:14px;margin-bottom:8px;color:#666;text-align:center}
.gwc-xllb a:hover{text-decoration:underline}
.top-right-dw:hover .gwc-xllb{display:block}
.logo{height:114px}
.logo h1{float:left}
.logo .logo-img{margin-top:28px;}
.logo-right{float:right}
.yuyan-lb{margin:16px 0px}
.yuyan-lb .yy-sel{width:120px;height:24px;font:12px/24px "宋体";color:#333;text-indent:10px;border:1px solid #b0b0b0;border-radius:5px;}
.yuyan-lb img{vertical-align:middle}
.sosuo-ys .inp{float:left;width:400px;height:34px;font:12px/34px "宋体";color:#333;background:url(../images/sosuo_btn.png) no-repeat 6px center;text-indent:24px;border:1px solid #0160b2;border-right:none}
.sosuo-ys .sub1{width:77px;height:36px;background:url(../images/sosuo.png) no-repeat}
.sosuo-ys .sub2{width:79px;height:36px;background:url(../images/sosuo_gj.png) no-repeat}
.nav{width:100%;height:41px;background:url(../images/nav_bg.png) repeat-x}
.fenlei-ys{float:left;width:145px;height:40px;margin-top:1px;padding-left:45px;font:16px/40px "微软雅黑";color:#fff;background:#5dbfec url(../images/liebiao_btn.png) no-repeat 15px center}
.nav-con a{float:left;padding:0px 20px;font:15px/41px "微软雅黑";color:#fff}
.nav-con img{float:left;margin-top:4px}
.nav-con a:hover{background:#5dbfec}
.nav-con a.hov{background:#5dbfec}
.prolb-left{float:left;width:190px}
.prolb-left1{position:relative;height:auto;margin-bottom:11px;border:1px solid #ccc;border-top:none/*background:#f2f2f2*/}
.prolb-left1-dl{padding-bottom:5px;border-bottom:1px solid #ccc}
.prolb-left1-dl:hover{background:#fafafa}
.prolb-left1 dt{padding:10px 0px;font:bold 14px "宋体";color:#333;/*background:#f2f2f2 url(../images/jian.png) no-repeat 165px center*/}
.prolb-left1 dt img{vertical-align:sub;margin:0px 8px}
.pro-left1-li{position:relative;width:100%;padding:5px 0px;margin-bottom:2px;border:2px solid transparent}
.pro-left1-li:hover{border:2px solid #ff4400;border-right:none}
.pro-left1-li a{position:relative;z-index:99999;display:block;float:left;width:45%;margin-left:5%;white-space:nowrap;overflow:hidden;text-align:left;font:12px "宋体";color:#333}
.pro-left1-li .white-bg{display:none;position:absolute;left:0px;top:0px;z-index:9999;width:194px;height:24px;height:22px\9;*height:27px;background:#fff}
.pro-left1-li a:hover{color:#ff4400}
.pro-left1-li:hover .pro-left1-lilb{display:block}
.pro-left1-li:hover .white-bg{display:block}
/*左侧列表划上样式*/
.pro-left1-lilb{display:none;position:absolute;left:188px;z-index:999;width:550px;padding:20px 20px 0px 20px;*padding:20px 20px 30px 20px;border:2px solid #ff4400;background:#fff;overflow:hidden}
.left1-lilb-div{float:left;width:250px;margin-right:25px;margin-bottom:30px}
.left1-lilb-div h3{width:100%;float:left;padding-bottom:10px;font:bold 14px "宋体";color:#555;border-bottom:1px solid #ddd;overflow:hidden}
.left1-lilb-div h3 img{float:left;margin-right:8px}
.left1-lilb-div .more{width:auto;float:right;display:inline}
.left1-lilb-div .txt9 a{width:auto;float:left;display:inline;white-space:nowrap;margin-top:7px;color:#666}
.left1-lilb-div .txt9 a:hover{text-decoration:underline;color:#ff4400}
/*.pro-left1-lilb .lb1{padding-bottom:10px;margin-bottom:20px;font:13px "宋体";color:#666;border-bottom:1px solid #eee;overflow:hidden}
.pro-left1-lilb .lb1 .tit{display:block;float:left;width:80px;text-align:right;font-weight:900}
.pro-left1-lilb .lb1 .tit b{margin:0px 6px}
.pro-left1-lilb .lb1 .body{float:left;width:420px}
.pro-left1-lilb .lb1 .lba{float:left;width:auto;padding:0px;margin:0px 8px 6px 8px;font:12px "";color:#777;border-bottom:none;background:none}
.pro-left1-lilb .lb1 .lba:hover{text-decoration:underline;color:#0160b2}*/


/*左侧列表划上样式结束*/
.pp-pro{margin-bottom:11px;height:538px;}
.pp-pro h3{width:190px;height:39px;font:bold 16px/39px "宋体";color:#fff;text-indent:18px;background:#5dbfec;border-radius:3px 3px 0px 0px}
.pp-prolb{height:497px;border:1px solid #ddd;background:#f1f1f1;overflow:hidden}
.pp-prolb .cb-lbwk{width:191px}
.pp-prolb .cb-lb{float:left;display:block;float:left;width:94px;height:68px;text-align:center;border-right:1px solid #ddd;border-bottom:1px solid #ddd}
.pp-prolb .cb-lb img{margin-top:14px}
.pp-txtlb{margin-top:27px;}
.pp-txtlb a{display:block;width:82%;padding-left:8%;margin:0px auto;font:12px "宋体";color:#666;white-space:nowrap;overflow:hidden;margin-bottom:16px;color:#666;background:url(../images/jt_yous.png) no-repeat left center}
.pp-txtlb a:hover{text-decoration:underline}
.wd-biao1{float:left;width:93px;height:93px;margin-top:4px;background:#f1f1f1;font:14px "宋体";color:#0160b2;text-align:center}
.wd-biao1 img{margin:10px 0px 7px 0px}
.wd-biao1 a{color:#0160b2}
.wd-biao3{width:100%;height:93px;margin:4px 0px;text-align:center;font:14px "宋体";color:#0160b2;background:#f1f1f1}
.wd-biao3 img{margin:18px 0px 9px 0px}
.wd-biao3 a{color:#0160b2}
.wd-ewm{width:100%;height:auto;padding:20px 0px;background:#f1f1f1;font:14px "宋体";color:#0160b2;text-align:center}
.wd-ewm img{display:none;margin-top:10px}
.prolb-right{float:right;width:792px}
.prolb-right1{margin-top:6px}
.banner{float:left;position:relative;width:602px;height:312px;}
.banner .banner-lb{position:absolute}
.banner-btn{position:absolute;z-index:1;bottom:15px;width:100%;text-align:center}
.banner-btn a{display:inline-block;width:10px;height:10px;margin-right:6px;border-radius:100px;background:#0160b2}
.banner-btn a:hover{background:#fff}
.gonggao-con{float:left;width:188px;height:310px;border:1px solid #ddd;background:#f8f8f8}
.gonggao-con h3{width:162px;height:36px;padding:0 13px;font:bold 13px/36px "宋体";color:#333;background:#e4e4e4}
.gonggao-con h3 a{float:right;font-weight:100;color:#0160b2}
.gonggao-con .gg-lb{width:175px;height:87px;padding:20px 0px 10px 13px;background:#fff}
.gonggao-con .gg-lb .lb-con{margin-bottom:15px;font:13px "宋体";color:#0160b2}
.gonggao-con .gg-lb .lb-con a{color:#666}
.gonggao-con .gg-lb .lb-con a:hover{color:#ff4400}
.login-con{width:170px;padding:0px 9px;font:12px "宋体";color:#333}
.login-con .inp{width:119px;height:24px;font:12px/24px "宋体";color:#333;text-indent:4px;border:1px solid #ddd;background:#fff}
.login-con .user-lb{margin-top:14px}
.login-con .user-lb span{display:inline-block;width:48px;text-align:right}
.login-con .txlb{overflow:hidden;margin:25px 0px;}
.login-con .txlb .tx{float:left;margin:0px 6px;}
.login-con .txlb .txt4{float:left;margin-top:6px;font:12px/20px "宋体";color:#0160b2}
.login-con .txlb .txt4 a{color:#ff4400}
.login-con .btn{margin:12px 0px;text-align:center}
.login-btn{width:53px;height:22px;margin-right:5px;font:12px/22px "宋体";color:#fff;text-align:center;background:#5dbfec;border-radius:3px}
.forget-pw{margin-left:48px}
.forget-pw a{color:#0160b2;text-decoration:underline}
.prolb-show{margin-top:20px}
.prolb-show h3{padding-left:16px;padding-bottom:10px;font:bold 14px "宋体";color:#333;background:url(../images/suo.png) no-repeat left 1px}
.prolb-show .piclb{width:800px}
.prolb-show img{float:left;margin-right:8px}
.prolb-show-tit{border-bottom:2px solid #5dbfec}
.prolb-show-tit a{float:right;display:block;width:62px;height:20px;margin-top:3px;font:13px/20px "宋体";color:#fff;background:#5dbfec}
.prolb-show-tit .span1{display:block;float:left;width:42px;text-align:center}
.prolb-show-tit .span2{display:block;float:left;width:20px;text-align:center;background:#80d4fa}
.prolb-show .piclb2{width:802.65px}
.prolb-showlb{float:left;width:188px;height:260px;margin-top:11px;margin-right:10.65px;border:1px solid #e4e4e4}
.prolb-showlb2{margin-top:0px;margin-right:8.67px;margin-bottom:9px;height:280px;}
.prolb-showlb img{margin-bottom:8px}
.prolb-showlb h4{width:90%;margin:5px auto;font:bold 13px "宋体";color:#333}
.prolb-showlb .txt1{width:90%;margin:0px auto;height:38px;overflow:hidden;font:12px/18px "宋体";color:#666}
.prolb-showlb .txt1 a{color:#666}
.prolb-showlb .txt1 a:hover{text-decoration:underline;color:#ff4400}
.prolb-showlb .money{width:90%;margin:0px auto;margin-top:4px;font:bold 14px "微软雅黑";color:#e3484c}
.prolb-showlb:hover{border:1px solid #0160b2}
.prolb-show .piclb3{width:804px}
.newpro-lb{float:left;width:364px;height:251px;padding:13px;margin:11px 12px 0px 0px;background:#f1f1f1}
.newpro-lb .lb-left{float:left;width:136px}
.newpro-lb .lb-left .a1{float:left;margin-top:25px;width:100%;font:bold 15px "宋体";color:#0160b2;text-align:center}
.newpro-lb .lb-left .a1 a{color:#0160b2}
.newpro-lb .lb-left .a1 img{margin-left:25.5px}
.newpro-lb .lb-right{float:right;width:180px;height:57px;padding:10px;margin-bottom:9px;background:#fff}
.newpro-lb .lb-right .txt2{float:right;width:60%;font:13px/16px "宋体";color:#0160b2}
.newpro-lb .lb-right .txt2 .intr{margin-bottom:6px;display:block;height:32px;color:#0160b2;overflow:hidden}
.newpro-lb .lb-right .txt2 .mon{color:#e3484c}
.newpro-lb .lb-right .txt2 .intr:hover,.newpro-lb .lb-right .txt2 .mon:hover{text-decoration:underline}
.map{width:100%;padding:35px 0px;margin-top:35px;border-top:1px solid #ddd}
.map-conlb{float:left;padding-left:40px;padding-top:10px;margin-right:110px;font:12px/22px "宋体";color:#666;background:url(../images/footer_btn.png) no-repeat left top}
.map-conlb dt{margin-bottom:13px;font:bold 14px "宋体";color:#333}
.map-conlb a{color:#666}
.map-conlb a:hover{color:#333}
.serve-lb{float:right;margin-right:0px;background:none}
.serve-lb a{color:#0160b2}
.serve-lb a:hover{color:#0160b2}
.serve-lb dd{margin-left:-15px;position:relative}
.serve-lb .serve-xx{display:none;position:absolute;top:-50px;right:122px;z-index:999;width:179px;height:128px;padding:17px 5px 9px 5px;background:#f2f2f2;border:2px solid #ddd}
.serve-lb .serve-xx .xxlb{margin-bottom:8px;font:12px "宋体";color:#000}
.serve-lb .serve-xx .xxlb .img{display:inline-block;width:30px;margin-right:5px;text-align:center}
.serve-lb .serve-xx .xxlb .img img{vertical-align:sub}
.serve-lb dd:hover .serve-xx{display:block}
/*箭头样式*/
.right-jt{position:absolute;right:-11px;top:47px;width:0;height:0;border-bottom:11px solid transparent;border-top:11px solid transparent;border-left:11px solid #ddd;}
.right-jt2{position:absolute;right:-8px;top:49px;width:0;height:0;border-bottom:9px solid transparent;border-top:9px solid transparent;border-left:9px solid #f2f2f2}
/*箭头样式*/
.copyright{width:100%;height:90px;font:12px "宋体";color:#cdcdcd;text-align:center;background:#333}
.copyright .txt3{padding:20px 0px;text-align:center}
.copyright .txt3 a{padding:0px 5px;color:#cdcdcd}
.copyright .txt3 a:hover{text-decoration:underline}
/*产品促销-满立减*/
.prolb-right2{width:786px}
.now-tit{width:766px;padding:10px 0px 10px 20px;margin-top:7px;font:12px "宋体";color:#555;border-bottom:1px solid #ddd;background:url(../images/dangqian_btn.png) no-repeat left center}
.now-tit a{color:#555}
.now-tit a:hover{text-decoration:underline;color:#ff4400}
.now-tit .btn{float:right;text-decoration:underline;color:#0160b2}
.now-titlb{width:784px;/*min-height:210px;*/margin:9px 0px 18px 0px;padding-bottom:20px;background:#f4f4f4;border:1px solid #e4e4e4}
.now-titlb h4{padding:10px 0px;font:bold 14px "宋体";color:#333;text-indent:14px;border-bottom:1px solid #e4e4e4}
.now-titlb h4 span{margin-left:10px;font:12px "";color:#666}
.now-titlb h4 span b{font-weight:100;color:#ff4400}
.now-titlb-sy{margin-top:15px;font:13px "宋体";color:#ff4400;overflow:hidden}
.now-titlb-sy .sy-tit{float:left;display:block;width:80px;text-align:right;padding-top:4px}
.now-titlb-sy .sy-lb{float:left;width:704px}
.now-titlb-sy .sy-lb a{display:inline-block;margin:0px 30px 6px 0px;padding:4px 8px;color:#666}
.now-titlb-sy .sy-lb a:hover{background:#5dbfec;color:#fff;border-radius:3px}
.now-titlb-sy .sy-lb a.hov{background:#5dbfec;color:#fff;border-radius:3px}
.gaoji-sslb{width:100%}
.gaoji-ss{float:left;margin-top:16px;font:12px "宋体";color:#666}
.gaoji-ss .ss-tit{display:inline-block;width:90px;text-align:right}
.gaoji-ss .inp1{width:492px;height:28px;border:1px solid #ccc;font:12px/28px "宋体";color:#333;text-indent:6px;background:#fff}
.gaoji-ss .inp2{width:160px}
.search-btn{width:80px;height:28px;margin:16px 16px 0px 16px;font:12px/28px "宋体";color:#fff;background:#0160b2;border-radius:3px}
.del-sstj{font:12px "宋体";color:#ff4400}
.procx-tit{margin-top:17px;border-bottom:3px solid #5dbfec;overflow:hidden}
.procx-tit a{float:left;display:block;padding:9px 20px;font:bold 14px "宋体";color:#333;}
.procx-tit a:hover{color:#fff;background:#5dbfec}
.procx-tit a.hov{color:#fff;background:#5dbfec}
.procx-px{width:766px;height:40px;margin:10px 0px 15px 0px;padding:0px 10px;font:13px/40px "宋体";color:#666;background:#eee}
.procx-px .px-txt{margin-right:2px;padding:5px 8px;color:#666;background:#fff;border:1px solid #ddd}
.procx-px .px-txt:hover{background:#5dbfec;color:#fff}
.procx-px .px-txt.hov{background:#5dbfec;color:#fff}
/*换页样式*/
.huanye1{float:right;font:13px/40px "宋体";color:#666}
.huanye1 .l-jt{margin-top:14px;margin-right:10px;display:block;float:left;width:9px;height:12px;background:url(../images/left_jt.png) no-repeat left center}
.huanye1 .r-jt{margin-top:14px;margin-left:10px;display:block;float:right;width:9px;height:12px;background:url(../images/right_jt.png) no-repeat}
.huanye1 .num{color:#ff4400;font-weight:900}
.mlj-prolb-wk{width:806px}
.mlj-prolb{float:left;width:381px;height:180px;margin-right:20px;margin-bottom:20px;border:1px solid #ddd}
.mlj-prolb .pro-txt{float:right;width:170px;margin-right:13px}
.mlj-prolb .pro-txt h4{margin:15px 0px 20px 0px;white-space:nowrap;overflow:hidden;font:bold 13px "宋体";color:#333}
.mlj-prolb .pro-txt .p1{text-align:center;font:22px "微软雅黑";color:#ff4400}
.mlj-prolb .pro-txt .p2{text-align:center;font:14px "微软雅黑";color:#666}
.mlj-prolb .pro-txt .p3 a{display:block;width:100%;height:25px;margin:23px 0px 8px 0px;font:13px/25px "宋体";color:#0160b2;text-align:center;background:#ddd}
.mlj-prolb .pro-txt .p4{font:13px "宋体";color:#666}
.huanye2{width:100%;margin-top:30px;text-align:center;font:bold 13px "宋体";color:#666}
/*换页样式*/
.huanye2 a{margin-right:6px;color:#666}
.huanye2 a:hover{color:#ff4400}
.huanye2 a.hov{color:#ff4400}
.huanye2 .page-up{margin-right:20px;padding:6px 13px;border:1px solid #ddd;background:#f1f1f1 url(../images/qian_jt.png) no-repeat center center}
.huanye2 .page-down{margin-left:8px;padding:6px 13px;border:1px solid #ddd;background:#f1f1f1 url(../images/hou_jt.png) no-repeat center center}
/*换页样式*/
.total-huanye{margin-top:30px;text-align:center;font:12px "宋体";color:#666}
.total-huanye a{padding:10px 15px;border:1px solid #e0e0e0}
.total-huanye .inp,.total-huanye .sub{width:35px;height:21px;margin:0px 5px;font:12px/21px "宋体";color:#000;text-align:center;border:1px solid #e0e0e0}
.total-huanye .sub{width:41px;color:#666}
.total-huanye .pre{margin-right:10px;background:url(../images/jt_left.png) no-repeat center center}
.total-huanye .pre:hover{background:url(../images/jt_left_hov.png) no-repeat center center}
.total-huanye .next{margin-right:10px;background:url(../images/jt_right.png) no-repeat center center}
.total-huanye .next:hover{background:url(../images/jt_right_hov.png) no-repeat center center}
.total-huanye .num{color:#333;font-weight:900}
.total-huanye .num:hover{color:#fff;border:1px solid transparent;background:#ff4400}
.total-huanye .num.hov{color:#fff;border:1px solid transparent;background:#ff4400}

/*产品促销-团购样式*/
.tg-prolb-wk{width:801px}
.tg-prolb{float:left;width:250px;height:381px;margin-right:15px;margin-bottom:15px;border:1px solid #ddd}
.tg-prolb:hover{height:379px;border:1px solid #0160b2;border-bottom:3px solid #0160b2}
.tg-prolb .sj-wk{width:90%;margin:0px auto}
.tg-prolb .txt1{margin:15px 0px;white-space:nowrap;overflow:hidden;font:14px "宋体";color:#333}
.tg-prolb .txt2{width:96%;padding:0 2%;height:46px;font:18px/46px "微软雅黑";color:#333;background:#eee}
.tg-prolb .txt2 a{display:block;float:right;width:54px;height:23px;margin-top:11.5px;font:14px/23px "宋体";color:#fff;text-align:center;background:#5dbfec;border-radius:100px;}
.tg-prolb .txt3{margin:21px 0px 10px 0px;font:13px "宋体";color:#666}
.tg-prolb .txt3 b{color:#5dbfec}
.tg-prolb .txt4{font:13px "宋体";color:#666}
.tg-prolb .txt4 img{vertical-align:middle;margin-right:6px;}
/*最新产品样式*/
.new-prolb-wk{width:795px}
.new-prolb{float:left;width:188px;height:272px;margin-right:8.67px;margin-bottom:9px;font:13px  "宋体";color:#666;border:1px solid #ddd}
.new-prolb:hover{border:1px solid #0160b2}
.new-prolb .txt1{width:90%;margin:0px auto}
.new-prolb .txt1 .p1{margin:12px 0px}
.new-prolb .txt1 a{color:#666;line-height:20px}
.new-prolb .txt1 a:hover{text-decoration:underline;color:#ef3737}
.new-prolb .txt1 .p2{font:bold 12px "宋体";color:#ef3737}
/*产品促销-优惠券*/
.yhq-prolb{position:relative;height:280px}
.yhq-prolb:hover{border:1px solid #aee0f6}
.yhq-prolb .bot-ys{position:absolute;bottom:0;left:0;width:100%;height:43px;background:#aee0f6}
.yhq-prolb .bot-ys .span1{margin-left:10px;font:16px/43px "微软雅黑";color:#333}
.yhq-prolb .bot-ys a{display:block;float:right;font:14px "宋体";color:#fff;padding:5.5px 9px;background:#ff4400}
.yhq-prolb .p3{margin:10px 0px;white-space:nowrap;overflow:hidden }
.yhq-prolb .p4{color:#999}
/*购物车样式*/
.shop-prolb{width:96%;padding:20px 2% 20px 2%;font:13px "宋体";color:#333}
.shop-prolb h5{margin-bottom:5px;font:bold 13px "宋体";color:#ff4400}
.shop-prolb-tit{width:100%;padding:11px 0px;background:#ebebeb;overflow:hidden}
.shop-prolb-tit .wid{float:left}
.shop-prolb-tit .cbox{vertical-align:sub}
.shop-prolb-tit .wid1{margin-left:1%;width:10%}
.shop-prolb-tit .wid2{width:25%}
.shop-prolb-tit .wid3{width:11.5%}
.shop-prolb-body{padding:18px 0px;border-bottom:1px dashed #7baad3;overflow:hidden}
.shop-prolb-body .wid{float:left}
.shop-prolb-body .cbox{margin-top:20px;}
.shop-prolb-body .wid1{margin-left:1%;width:5%}
.shop-prolb-body .wid2{width:25%;}
.shop-prolb-body .wid3{width:12%;text-align:center}
.shop-prolb-body .wid4{text-align:center}
.shop-prolb-body .wid4 a{display:block;margin-bottom:5px;color:#0160b2}
.shop-prolb-body .wid4 a:hover{text-decoration:underline}
.shop-prolb-body .pic1{float:left;border:1px solid #ddd}
.shop-prolb-body .txt1{float:left;width:65%;height:40px;overflow:hidden;margin-left:3%;line-height:20px}
.shop-prolb-body .txt1 a{color:#333}
.shop-prolb-body .txt1 a:hover{color:#ff4400;text-decoration:underline}
.shop-prolb-body .monys{font-weight:900;color:#ff4400;font-family:"微软雅黑"}
.num-jian{padding:3px 5px 4px 5px;font:12px "宋体";color:#333;border:1px solid #ccc}
.num-inp{width:40px;height:19px;font:12px/19px "宋体";color:#000;text-align:center;border:1px solid #ccc;border-left:none;border-right:none}
.shop-end{width:100%;height:75px;line-height:75px;background:#fff}
.shop-end .end-left{float:left}
.shop-end .cbox{vertical-align:sub;margin-left:10px}
.shop-end .a1{margin-left:6px;color:#0160b2}
.shop-end .end-right{float:right}
.shop-end .end-right .num1{margin-right:7px}
.shop-end .end-right .num1 b{color:#ff4400}
.shop-end .end-right .mon1{font:18px/75px "微软雅黑";color:#ff4400}
.submit-btn{width:92px;height:36px;margin:0px 10px;font:bold 16px "宋体";color:#fff;background:#ff4400;border-radius:3px}
/*关于我们*/
.about-us{width:94%;padding:30px 3%;font:14px/24px "宋体";color:#333}
.about-us h5{margin-bottom:8px;font:bold 14px "宋体"}
.about-us .p1{margin-bottom:10px;text-indent:28px}
.contact-fs{margin:50px 0px 20px 0px}
.contact-fs .p2{margin-bottom:10px}
.contact-fs .p2 span{font-weight:900}
.about-us .img-intr{margin:30px 0px}
.team-pic{position:relative;width:100%;}
.team-pic .l-btn{position:absolute;left:0px;top:62px;display:block;width:19px;height:36px;background:url(../images/left_jtd.png) no-repeat left center}
.team-pic .r-btn{position:absolute;right:0px;top:62px;display:block;width:19px;height:36px;background:url(../images/right_jtd.png) no-repeat left center}
.team-pic .pic-wk{width:674px;margin:0px auto;overflow:hidden}
.team-pic .pic-ul{width:1000000px}
.team-pic .pic-ul li{float:left;margin-right:11px}
.team-pic .pic-ul .p5{margin-top:10px;font:bold 13px "宋体";color:#333;text-align:center}
/*在线留言样式*/
.online-ly{font:12px/28px "宋体";color:#333}
.online-ly .ly-lb{margin-bottom:20px}
.online-ly .name{float:left;display:inline-block;width:100px;margin-right:6px;text-align:right}
.online-ly .inp{width:232px;height:28px;font:12px/28px "宋体";color:#333;text-indent:4px;border:1px solid #ddd;background:#fff}
.online-ly .inp2{width:140px}
.online-ly .yzm{vertical-align:sub}
.online-ly .inp3{width:572px;height:92px}
.online-ly .btn{margin-left:106px}
.online-ly .login-btn{width:60px;height:30px;font:13px/30px "宋体"}
/*售后服务样式*/
.sh-serve-tit{width:100%;height:auto;border-bottom:2px solid #5dbfec}
.sh-serve-tit .tit{display:inline-block;padding:10px 13px;font:bold 13px "宋体";color:#333}
.sh-serve-tit .tit:hover{color:#fff;background:#5dbfec}
.sh-serve-tit .tit.hov{color:#fff;background:#5dbfec}
.sh-serve-tit .search{float:right}
.sh-serve-tit .search .inp{width:143px;height:26px;font:13px/26px "宋体";color:#333;text-indent:4px;border:1px solid #ddd;background:#fff}
.sh-serve-tit .search .sub{width:40px;height:26px;margin-left:5px;font:12px/26px "宋体";color:#fff;background:#0160b2}
.sh-serve-jslb{padding:18px 0px;font:13px "宋体";color:#333;border-bottom:1px dashed #4b8dc6;overflow:hidden}
.sh-serve-jslb .time{float:right;color:#999}
.sh-serve-jslb .txt5{float:left;width:390px;padding-left:15px;white-space:nowrap;overflow:hidden;color:#333;background:url(../images/right_jtc.png) no-repeat left center}
.sh-serve-jslb .txt5 a{color:#333}
.sh-serve-jslb .txt5 a:hover{text-decoration:underline;color:#ff4400}
.sh-serve-jslb .down{float:left;margin-left:6px;margin-top:1px}
.sh-serve-jslb .txt6{margin-top:13px}
.sh-serve-jslb .txt6 a{display:inline-block;width:490px;padding-left:42px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#0160b2}
.sh-serve-jslb .txt6 a:hover{text-decoration:underline}
/*售后服务-视频观看*/
.movie-lb{width:96%;padding:18px 2%;overflow:hidden}
.movie-lb .movie-pic{float:left}
.movie-lb .movie-txt{float:left;margin-left:2%;width:80%;font:12px "宋体";color:#333}
.movie-lb .movie-txt .pbt{margin-top:10px;white-space:nowrap;overflow:hidden}
.movie-lb .movie-txt .bt{font-size:14px;color:#333}
.movie-lb .movie-txt .bt:hover{color:#ff4400;text-decoration:underline}
.movie-lb .movie-txt .time2{margin-top:20px;color:#0160b2}
/*注册样式*/
.top2{width:100%;padding:23px 0px;border-bottom:2px solid #ff4400}
.register-con{width:940px;padding:0px 24px 40px 24px;margin:30px auto;border:1px solid #ccc}
.register-con h4{padding:20px 0px;font:bold 19px "微软雅黑";color:#333;border-bottom:1px solid #f0f0f0}
.register-lb{margin-top:25px;font:12px "宋体";color:#666}
.register-lb2{margin-left:265px}
.register-lb2 .cbox{margin-right:5px;vertical-align:sub}
.register-lb2 a{margin-left:4px;color:#0160b2;text-decoration:underline}
.register-lb .inp1{width:230px;height:30px;font:13px/30px "宋体";color:#333;text-indent:4px;border:1px solid #dbdbdb}
.register-lb .span1{display:inline-block;width:260px;text-align:right}
.register-lb .span2{color:#d10000}
.register-btn{width:230px;height:30px;font:14px/30px "宋体";color:#fff;background:#0160b2;border-radius:3px}
.register-lb3{margin-left:204px;margin-top:40px;font-size:14px}
.register-lb3 a{color:#0160b2;text-decoration:underline}
/*登陆样式*/
.login-con2{width:990px;margin:30px auto}
.login-pic{float:left}
.login-right{float:right;width:322px;height:406px;padding:0px 24px;border:1px solid #ccc}
.login-right h4{padding:20px 0px;font:bold 19px "微软雅黑";color:#333;border-bottom:1px solid #f0f0f0}
.login-lb .span1{width:76px}
.login-lb2{margin-left:84px}
.login-lb2 .a1{float:right;margin-right:10px}
.login-lb3{margin-left:22px;margin-top:55px}
/*系统报错样式*/
.error-con{width:890px;padding:50px 50px 80px 0px;margin:0px auto;overflow:hidden}
.error-con .error-img{float:left}
.error-con .error-txt{float:left;margin-left:30px;font:12px/22px "宋体";color:#666}
.error-con .error-txt h4{margin:10px 0px 30px 0px;font:bold 16px "宋体";color:#333}
.error-con .error-txt a{margin:0px 7px;color:#0160b2;text-decoration:underline}
/*进度条样式*/
.baoxiu-lc{width:100%;height:85px}
.baoxiu-lc .lc-con{width:800px;position:relative}
.baoxiu-lc .lc-con .line{position:absolute;top:28px;left:80px;width:76%;height:5px;background:#ccc;border-radius:1000px;}
.baoxiu-lc .lc-con .line2{position:absolute;top:0px;left:0px;z-index:9;width:178px;height:5px;background:#34b4db;border-radius:1000px}
.baoxiu-lc .lc-con .jd-txt{position:absolute;top:20px;left:110px;z-index:99}
.baoxiu-lc .lc-con .jd-txt .txt1{float:left;width:135px}
.baoxiu-lc .lc-con .jd-txt .txt1 .p1{margin-top:15px;text-align:center;font:bold 13px "宋体";color:#555}
.baoxiu-lc .lc-con .jd-txt .txt1 .p2{width:20px;height:20px;margin:0px auto;background:#ccc;border-radius:1000px}
.baoxiu-lc .lc-con .jd-txt .txt1 .p3 img{margin-top:7px}
/*找回密码样式*/
.lookfor-pw{margin-top:30px}
.lookfor-pw h3{text-indent:40px;font:bold 16px "宋体";color:#666}
.lookfor-pw .baoxiu-lc{margin-bottom:40px}
.lookfor-pw .baoxiu-lc .lc-con .jd-txt .txt1 .p1{font:12px "宋体";color:#666}
.lookfor-pw .baoxiu-lc .p2{font:bold 12px/18px Arial, Helvetica, sans-serif;color:#fff;text-align:center}
.lookfor-pw .baoxiu-lc .lc-con .line2{background:#7abd54}
.pw-inp{margin-left:150px;margin-bottom:18px;font:13px "宋体";color:#555}
.pw-inp .span1{display:inline-block;width:210px;text-align:right}
.pw-inp .inp{width:200px;height:26px;border:1px solid #bbb;text-indent:6px;font:13px/26px "宋体";color:#333}
.pw-inp .huan{color:#005ea7}
.pw-inp .sub{padding:0px 10px;height:23px;margin-left:218px;font:12px/23px "宋体";color:#333;background:#eaf6e2;border:1px solid #bfd6af}
.pw-inp .span2{font:bold 16px "";color:#444}
.pw-inp .p1{font:bold 16px "";color:#71b247}
.pw-inp .p2{margin:8px 0px;color:#e4393c}
.pw-inp .p3{color:#999}
.pw-inp .ck-mail{margin-top:15px;display:block; width:100px;height:26px;font:bold 13px/26px "宋体";color:#fff;text-align:center;background:#e4393c;border-radius:3px}
.yz-pass{float:left;width:48px;height:48px;background:url(../images/icon48.png) no-repeat}
/*填写付款信息样式*/
.now-titlb .notice{margin:15px 0px;text-indent:20px;font:12px "宋体";color:#ff4400}
.write-pay{width:96%;margin:0px auto;padding:20px 0px;background:#fff}
.pay-lb{position:relative;margin-bottom:20px;font:12px "宋体";color:#666}
.pay-lb .span1{display:inline-block;width:100px;text-align:right}
.pay-lb .inp1{width:120px;height:23px;font:13px/23px "宋体";color:#333;text-indent:6px;border:1px solid #ccc}
.pay-lb .file{width:120px;height:23px;position:relative;z-index:99;filter:alpha(opacity=0);opacity:0}
.pay-lb .file-ys{position:absolute;left:105px;top:0px;width:120px;height:23px;text-align:center;line-height:23px;background:#f0f0f0;border:1px solid #ccc}
.pay-lb .up-pz{margin:15px 0px 15px 105px;color:#ff4400}
.shop-end2{margin:30px 0px;text-align:right;font:14px "宋体";color:#666}
.shop-end2 .mon1{font:18px "微软雅黑";color:#ff4400}
.submit-btn2{width:102px;height:34px;font-size:14px}
/*填写收货信息样式*/
.shuohuo-h3{margin-top:30px;margin-left:15px;font:bold 12px "宋体";color:#ff4400}
.adress-lb{margin-top:10px;margin-left:40px;font:12px "宋体";color:#333}
.write-adress .xinghao{margin-right:3px;color:#ff4400}
.write-adress .pay-lb .inp2{width:200px}
.write-adress .mail-notice{margin-left:105px;margin-top:7px}
/*提交订单样式*/
.yunfei-fs .fs-notice{margin:10px 0px 10px 105px}
.yunfei-fs .pay-lb .inp-margin{margin-left:105px;width:260px}
.yunfei-fs .textarea{width:550px;height:60px;font:12px/20px "宋体";color:#333;border:1px solid #ccc}
.ywy-lbwk{float:left;width:640px}
.ywy-lb{float:left;width:97px;height:45px;margin:0px 10px 20px 10px;border:3px solid #ccc;border-radius:2px}
.ywy-lb-huang{border:3px solid #ff4400}
.ywy-lb .tx{float:left;margin:1px 3px 1px 3px}
.ywy-lb .name{float:left;display:block;width:44px;overflow:hidden;margin-top:4px;margin-left:2px;color:#333;font-size:13px}
/*产品详情-商品详情样式*/
.proxq-tit{margin:20px 0px}
.proxq-tit-left{float:left;width:375px}
.proxq-tit .proxq-pic1{border:1px solid #ddd}
.proxq-tit-ul li{float:left;margin-right:7px;margin-top:15px}
.proxq-tit-right{float:right;width:388px;}
.proxq-tit-right h3{width:100%;white-space:nowrap;overflow:hidden;margin-top:10px;font:bold 14px "宋体";color:#111}
.proxq-tit-jg{width:348px;padding:20px;padding-bottom:10px;margin:30px 0px 22px 0px;font:12px "宋体";color:#666;background:#f4f4f4}
.proxq-tit-jg .jglb{padding-bottom:12px}
.proxq-tit-jg .jglb-ys{color:#ff4400}
.proxq-tit-jg .xqjg1{float:left;margin-top:6px}
.proxq-tit-jg .xqjg2{float:left;font:18px "微软雅黑";color:#ff4400}
.chakan-bzjg{position:relative;display:inline-block;width:110px;height:23px;margin-left:10px;padding:0px 10px;font:12px/23px "宋体";color:#fff;text-align:center;background:#5dbfec}
.chakan-bzjg-zk{display:none;position:absolute;top:23px;left:0px;width:100%;background:#5dbfec}
.chakan-bzjg:hover .chakan-bzjg-zk{display:block}
.proxq-tit-cslb{margin-bottom:28px;font:12px "宋体";color:#333}
.proxq-tit-cslb .cs-tit{float:left;display:block;width:76px;text-align:right}
.proxq-tit-cslb .cs-body{margin-left:5px;color:#666}
.proxq-tit-cslb .radio{margin-right:5px;vertical-align:sub}
.proxq-tit-cslb .color-ys{margin-right:5px;padding:5px 10px;color:#666;border:1px solid #ddd}
.proxq-tit-cslb .color-ys.xz{border:1px solid #ff4400}
.proxq-tit-cslb .num-jian2{padding:5px 7px;border:1px solid #ddd;color:#333}
.proxq-tit-cslb .num-inp2{width:95px;height:23px;font:bold 12px "宋体";color:#333;text-align:center;border:1px solid #ddd}
.proxq-titqh{position:relative;width:100%;height:40px;font:bold 12px/40px "宋体";background:#eee}
.proxq-titqh .qh-tit{padding:0px 20px;display:block;float:left;color:#333}
.proxq-titqh .qh-tit:hover{color:#fff;background:#5dbfec}
.proxq-titqh .qh-tit.hov{color:#fff;background:#5dbfec}
.proxq-titqh .sao-ewm{float:right;margin-right:20px;color:#ff4400;font-weight:100}
.proxq-titqh .ewm-pic2{display:none;position:absolute;top:40px;right:0px;padding:8px;border:5px solid #ccc;background:#fff}
.proxq-titqh .ewm-pic2 .jt{position:absolute;left:45px;top:-12px;}
.proxq-con1{width:100%;padding:35px 0px;font:12px/22px "宋体";color:#666;}
.proxq-gglb{float:left;width:30%;margin-right:3%;margin-bottom:35px;font:12px/22px "宋体";color:#666;overflow:hidden}
.proxq-gglb p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.proxq-con1 h4{margin:30px 0px;font:bold 14px/24px "宋体";color:#333}
.proxq-con1 .lbcon{margin-bottom:20px;color:#555;font-size:12px}
/*个人中心样式*/
.center-tx{padding:20px 0px;overflow:hidden}
.center-tx .tx{float:left;margin:7px 30px 0px 30px;border:4px solid #ddd;border-radius:1000px}
.center-mid{float:left;width:200px;padding:20px 30px 25px 0px;font:12px "宋体";color:#333;border-right:1px solid #ddd}
.center-mid h5{font:bold 14px "宋体";color:#ff4400}
.center-mid h5 a{float:right;font:12px "宋体";color:#5dbfec;text-decoration:underline}
.center-mid .txt7{margin:12px 0px}
.center-mid .txt8{margin-bottom:18px;color:#666}
.gwc-btn{padding:6px 10px;font:12px "宋体";color:#fff;background:#0160b2;border-radius:3px}
.center-xmlb{float:left;margin-left:25px;margin-top:7px;font:12px/24px "宋体";color:#0160b2}
.center-xmlb .lba{padding-left:15px;color:#0160b2;background:url(../images/lankuai.png) no-repeat left center}
.white-conbg{width:97%;margin:0px auto;margin-bottom:42px;font:12px "宋体";color:#333;background:#fff;overflow:hidden}
.order-cxtit{overflow:hidden}
.white-conbg h4{float:left;padding:17px 0px;border-bottom:0}
.order-cxtit .ssk{float:right;margin-right:10px;margin-top:15px}
.order-cxtit .ssk .inp{width:170px;height:26px;font:12px/26px "宋体";color:#333;text-indent:5px;border:1px solid #ccc}
.chaxun-btn{width:48px;height:26px;font:12px/26px "宋体";color:#333;background:#eaf6e2;border:1px solid #bfd6af;border-radius:3px}
.order-cxtit .ssk a{font:12px "宋体";color:#ff4400}
.my-orderlb{width:100%;height:32px;line-height:32px;background:#e0e0e0}
.my-orderlb .wid{display:inline-block}
.my-orderlb .wid1{width:25%;margin-left:4%;text-align:center}
.my-orderlb .wid2{width:15%;text-align:center}
.my-orderlb .wid3{width:14%}
.my-orderlb2{width:98%;padding-left:2%;color:#666;background:#eee}
.my-orderlb3{width:96%;margin:0px auto;border-bottom:1px solid #f4f4f4}
.my-orderlb3 .wid2{width:25%;margin-right:4%}
.my-orderlb3 .wid3{width:15.5%;text-align:center}
.mysc-lb{width:700px;margin:0px auto;padding-bottom:30px;overflow:hidden}
.mysc-lbwk{width:712px}
.mysc-lb .prolb-showlb{width:164px;height:260px;margin-right:12px}
.mysc-lb .prolb-showlb h5{width:90%;margin:5px auto;font:bold 13px "宋体";color:#333}
.mysc-lb .lbtn{position:absolute;left:5px;top:140px;display:block;width:18px;height:48px;background:url(../images/left_btn.png) no-repeat left center}
.mysc-lb .rbtn{position:absolute;right:5px;top:140px;display:block;width:18px;height:48px;background:url(../images/right_btn.png) no-repeat left center}
.low-price{padding:3px 6px;color:#fff;background:#5dbfec}
/*我的积分样式*/
.jifen-lb{width:93%;padding:0 2%}
.jifen-lb h4{float:none;border-bottom:1px solid #e0e0e0}
.jifen-num{margin:15px 0px}
.jifen-num a{float:right;color:#0160b2;text-decoration:underline}
.jifen-ls{padding-bottom:25px}
.jifen-ls .ls-tit{width:100%;height:32px;line-height:32px;background:#f0f0f0}
.jifen-ls .ls-tit span,.jifen-ls .ls-body span{display:inline-block;width:24%;text-align:center}
.jifen-ls .ls-body span{color:#666}
.jifen-ls .ls-body{margin-top:20px}
/*个人信息修改样式*/
.eduit-tit{width:97%;margin:20px auto;overflow:hidden}
.eduit-tit .line{float:left;margin-top:-3px;width:100%;height:3px;background:#ddd}
.eduit-tit a{position:relative;z-index:99;display:block;float:left;padding:0px 15px 15px 15px;font:bold 14px "宋体";color:#333;border-bottom:3px solid transparent}
.eduit-tit a:hover{border-bottom:3px solid #5dbfec}
.eduit-tit a.hov{border-bottom:3px solid #5dbfec}
/*修改头像样式*/
.uptx-img .file-ys{left:20px;width:200px;height:30px;line-height:30px;text-indent:20px;background:#f0f0f0 url(../images/uptx_btn.png) no-repeat 35px center}
.uptx-img .file{margin-left:20px;width:200px;height:30px}
.uptx-img .up-pz{margin-left:20px}
.uptx-img-wk{width:470px;padding:60px 0px;margin-left:20px;text-align:center;background:#f9f9f9;border:1px solid #e9e9e9}
/*个人中心-优惠券样式*/
.center-yhqlb{width:96%;margin:0px auto;padding:15px 0px;font:12px "宋体";color:#666;border-bottom:1px solid #e0e0e0;overflow:hidden}
.center-yhqlb .quan-num{margin-bottom:15px}
.center-yhqlb .quan-pic{float:left}
.center-yhqlb .quan-sm{position:relative;float:left;width:53%;height:110px;margin-left:1%;line-height:22px}
.center-yhqlb .use-time{position:absolute;bottom:0;width:100%}
.center-yhqlb .chaxun-btn{float:right;margin-right:20px}
/*站内信管理样式*/
.zhannei-ly{background:#f4f4f4}
.zhannei-ly .order-cxtit{border-bottom:1px solid #e4e4e4}
.zhannei-lylb{margin-top:16px;overflow:hidden}
.zhannei-lylb .cbox{vertical-align:sub}
.zhannei-lylb .cbox-fl{float:left;margin-top:7px}
.zhannei-lylb .biaoti{float:left;display:block;width:300px;white-space:nowrap;overflow:hidden;margin-left:6px;line-height:26px}
.zhannei-lylb .fb-time{float:right;color:#999}
.zhannei-lylb-huifu{width:100%;margin-top:16px;padding:15px 0px;background:#fff}
.zhannei-lylb-huifu .ly-con{display:block;width:580px;float:left;line-height:22px;color:#333}
/*网站使用指南*/
.net-nav{width:96%;margin:0px auto;font:13px "宋体";color:#333}
.net-nav h5{padding:20px 0px;border-bottom:1px dashed #ccc;font:16px "宋体";color:#ff4400}
.net-nav .line-txt{margin-top:15px}
.net-nav .line-txt a{margin:0px 4px;text-decoration:underline;color:#0160b2}
.xingqu-wt{width:86%;margin:50px auto;padding:20px 2%;font:14px "宋体";background:#fff}
.xingqu-wt h6{margin-bottom:20px;font:bold 14px "宋体";color:#ff4400}
.xingqu-wt .line-wt{padding-left:15px;margin-bottom:10px;margin-left:15px;background:url(../images/jt_right.png) no-repeat left center}
.xingqu-wt .line-wt a{color:#666}
.xingqu-wt .line-wt a:hover{color:#0160b2}
/* 回到顶部 */
.cd-top {
  display: inline-block;
  height:40px;
  width:40px;
  position: fixed;
  z-index:99999;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background:#d95448 url(../images/fhtop.png) no-repeat center 50%;
  visibility:hidden;
  filter:alpha(opacity=0);
  *filter:alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  visibility: visible;
  filter:alpha(opacity=100);
  *filter:alpha(opacity=100);
  opacity:1;
}
.cd-top.cd-fade-out {
  filter:alpha(opacity=50);
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #d95448;
  filter:alpha(opacity=100);
  opacity: 1;
}
/*@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}*/
/*弹窗样式*/
.filter-bg{position:fixed;top:0px;left:0px;z-index:9999;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:0.3}
.login-kua{position:absolute;top:30%;left:39%;z-index:9999;width:330px;padding-bottom:30px;background:#fff;border:1px solid #eaeaea;border-radius:3px;}
.login-kua h3{padding:0px 10px 0px 15px;font:bold 16px/50px "宋体";color:#111;border-bottom:1px solid #d5d5d5}
.login-kua h3 .close{float:right;font:30px/50px "宋体";color:#7f7f7f}
.login-kua .sub{text-align:center}
.login-kua .sub input{padding:0px 50px;font:14px/30px "宋体";color:#fff;border-radius:3px;background:#df3f3f}
.login-kua .txt{width:90%;margin:15px auto;font:13px/20px "宋体";color:#333}
/*用户注册协议*/
.zhuce-xy{font:12px/18px "宋体";color:#333}
.zhuce-xy h5{padding:10px 0px}
.zhuce-xy p{color:#555}











































