<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">

	<!-- entities -->
	<bean id="money" class="com.estore.entities.Money"/>	
	
	<bean id="category" class="com.estore.entities.Category"></bean>
	<!-- dao -->
	<bean id="moneyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMoneyDao"></property>
	</bean>
	<bean id="categoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ICategoryDao"></property>
	</bean>
	<bean id="goodsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IGoodsDao"></property>
	</bean>
	<bean id="goodsInDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IGoodsInDao"></property>
	</bean>
	
	<!-- service -->
	<bean id="moneyService" class="com.estore.service.impl.MoneyServiceImpl"/>
	<bean id="categoryService" class="com.estore.service.impl.CategoryServiceImpl"/>
	<bean id="goodsService" class="com.estore.service.impl.GoodsServiceImpl"/>
	<bean id="goodsInService" class="com.estore.service.impl.GoodsInServiceImpl"/>
	<!-- action -->
	<bean id="moneyAction" class="com.estore.action.back.MoneyAction" scope="prototype"/>
	<bean id="categoryAction" class="com.estore.action.back.CategoryAction" scope="prototype"/>
	<bean id="goodsInAction" class="com.estore.action.back.GoodsInAction" scope="prototype"/>
	<bean id="goodsAction" class="com.estore.action.back.GoodsAction" scope="prototype"/>
	<bean id="storeAction" class="com.estore.action.back.StoreAction" scope="prototype"/>
</beans>