<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">

	<!-- entities -->
	<bean id="money" class="com.estore.entities.Money"/>	
	
	<bean id="category" class="com.estore.entities.Category"></bean>
	<!-- dao -->
	<bean id="moneyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMoneyDao"></property>
	</bean>
	<bean id="categoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ICategoryDao"></property>
	</bean>
	<bean id="goodsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IGoodsDao"></property>
	</bean>
	<bean id="goodsInDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IGoodsInDao"></property>
	</bean>
	<bean id="cartDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ICartDao"></property>
	</bean>
	<bean id="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IOrderDao"></property>
	</bean>
	<bean id="orderCartDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IOrderCartDao"></property>
	</bean>
	<bean id="attributeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IAttributeDao"></property>
	</bean>
	<bean id="attribtueValueDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IAttributeValueDao"></property>
	</bean>
	<bean id="goodsAttributeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IGoodsAttributeDao"></property>
	</bean>
	<bean id="brandDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IBrandDao"></property>
	</bean>
	<bean id="locationDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ILocationDao"></property>
	</bean>
	<bean id="transformFeeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ITransformFeeDao"></property>
	</bean>
	<bean id="favoriteDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IFavoriteDao"></property>
	</bean>
	<!-- service -->
	<bean id="moneyService" class="com.estore.service.impl.MoneyServiceImpl"/>
	<bean id="categoryService" class="com.estore.service.impl.CategoryServiceImpl"/>
	<bean id="goodsService" class="com.estore.service.impl.GoodsServiceImpl"/>
	<bean id="goodsInService" class="com.estore.service.impl.GoodsInServiceImpl"/>
	<bean id="cartService" class="com.estore.service.impl.CartServiceImpl"/>
	<bean id="orderService" class="com.estore.service.impl.OrderServiceImpl"/>
	<bean id="goodsAttributeService" class="com.estore.service.impl.GoodsAttributeServiceImpl"/>
	<bean id="brandService" class="com.estore.service.impl.BrandServiceImpl"/>
	<bean id="locationService" class="com.estore.service.impl.LocationServiceImpl"/>
	<bean id="transformFeeService" class="com.estore.service.impl.TransformFeeServiceImpl"/>
	<bean id="favoriteService" class="com.estore.service.impl.FavoriteServiceImpl"/>
	<!-- action -->
	<bean id="moneyAction" class="com.estore.action.back.MoneyAction" scope="prototype"/>
	<bean id="categoryAction" class="com.estore.action.back.CategoryAction" scope="prototype"/>
	<bean id="categoryLocaleAction" class="com.estore.action.back.CategoryLocaleAction" scope="prototype"/>
	<bean id="goodsInAction" class="com.estore.action.back.GoodsInAction" scope="prototype"/>
	<bean id="goodsAction" class="com.estore.action.back.GoodsAction" scope="prototype"/>
	<bean id="goodsLocaleAction" class="com.estore.action.back.GoodsLocaleAction" scope="prototype"/>
	<bean id="storeAction" class="com.estore.action.back.StoreAction" scope="prototype"/>
</beans>