<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">
	
	<!-- entities -->
	<bean id="member" class="com.estore.entities.Member"/>	
	<bean id="memberInfo" class="com.estore.entities.MemberInfo"/>
	<!-- dao -->
	<bean id="memberDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMemberDao"></property>
	</bean>
	<bean id="memberInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMemberInfoDao"></property>
	</bean>
	<bean id="addressDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IAddressDao"></property>
	</bean>
	
	<!-- service -->
	<bean id="memberService" class="com.estore.service.impl.MemberServiceImpl"/>
	<bean id="memberInfoService" class="com.estore.service.impl.MemberInfoService"/>
	<bean id="addressService" class="com.estore.service.impl.AddressServiceIml"/>
	
	<!-- action -->
	<bean id="memberAction" class="com.estore.action.back.MemberAction" scope="prototype"/>
	<bean id="memberInfoAction" class="com.estore.action.back.MemberInfoAction" scope="prototype"/>

	<bean id="languageAction" class="com.estore.action.front.LanguageAction" scope="prototype"/>

	<!-- 国际化 -->
	<bean id="languageResource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="com.estore.i18n.resource.language" />
	</bean>
	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	<util:list id="interceptors">
		<ref bean="localeChangeInterceptor" />
	</util:list>
	<bean id="urlMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
    	<property name="interceptors" ref="interceptors" />
    	<property name="order" value="1"></property>
 	</bean>
 	
 	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>

</beans>