<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
	default-autowire="byName">
	
	<!-- entities -->
	<bean id="member" class="com.estore.entities.Member"/>	
	<bean id="memberInfo" class="com.estore.entities.MemberInfo"/>
	<bean id="onlineMsg" class="com.estore.entities.OnlineMsg"/>
	<bean id="notice" class="com.estore.entities.Notice"/>
	<bean id="bankAccount" class="com.estore.entities.BankAccount"/>
	<bean id="technicalArticle" class="com.estore.entities.TechnicalArticle"/>
	<bean id="page" class="com.estore.entities.Page"/>
	<bean id="customer" class="com.estore.entities.customerSer"/>
	<bean id="shopLink" class="com.estore.entities.ShopLink"/>
	<bean id="integral" class="com.estore.entities.Integral"/>
	
	<!-- dao -->
	<bean id="memberDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMemberDao"></property>
	</bean>
	<bean id="memberInfoDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IMemberInfoDao"></property>
	</bean>
	<bean id="addressDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IAddressDao"></property>
	</bean>
	<bean id="onlineMsgDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IOnlineMsgDao"></property>
	</bean>
	<bean id="noticeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.INoticeDao"></property>
	</bean>
	<bean id="bankAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IBankAccountDao"></property>
	</bean>
	<bean id="technicalArticleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ITechnicalArticleDao"></property>
	</bean>
	<bean id="customerSerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.ICustomerSerDao"></property>
	</bean>
	<bean id="shopLinkDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IShopLinkDao"></property>
	</bean>
	<bean id="integralDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.estore.dao.IIntegralDao"></property>
	</bean>
	
	<!-- service -->
	<bean id="memberService" class="com.estore.service.impl.MemberServiceImpl"/>
	<bean id="memberInfoService" class="com.estore.service.impl.MemberInfoService"/>
	<bean id="addressService" class="com.estore.service.impl.AddressServiceIml"/>
	<bean id="onlineMsgService" class="com.estore.service.impl.OnlineMsgServiceImpl"/>
	<bean id="noticeService" class="com.estore.service.impl.NoticeServiceImpl"/>
	<bean id="bankAccountService" class="com.estore.service.impl.BankAccountServiceImpl"/>
	<bean id="technicalArticleService" class="com.estore.service.impl.TechnicalArticleServiceImpl"/>
	<bean id="customerSerService" class="com.estore.service.impl.CustomerSerServiceImpl"/>
	<bean id="shopLinkService" class="com.estore.service.impl.ShopLinkServiceImpl"/>
	<bean id="integralService" class="com.estore.service.impl.IntegralServiceImpl"/>
	
	<!-- action -->
	<bean id="memberAction" class="com.estore.action.back.MemberAction" scope="prototype"/>
	<bean id="memberInfoAction" class="com.estore.action.back.MemberInfoAction" scope="prototype"/>

	<bean id="languageAction" class="com.estore.action.front.LanguageAction" scope="prototype"/>
	<bean id="afterSaleAction" class="com.estore.action.front.AfterSaleAction" scope="prototype"/>

	<bean id="categoryFrontAction" class="com.estore.action.front.CategoryFrontAction" scope="prototype"/>
	<bean id="mainAction" class="com.estore.action.front.MainAction" scope="prototype"/>
	<bean id="pageJumpAction" class="com.estore.action.front.PageJumpAction" scope="prototype"/>
	<bean id="onlineMsgAction" class="com.estore.action.front.OnlineMsgAction" scope="prototype"/>
	<bean id="newProductAction" class="com.estore.action.front.NewProductAction" scope="prototype"/>
	<bean id="productPromotionAction" class="com.estore.action.front.ProductPromotionAction" scope="prototype"/>
	<bean id="aboutUsAction" class="com.estore.action.front.AboutUsAction" scope="prototype"/>
	<bean id="bankAccountAction" class="com.estore.action.front.BankAccountAction" scope="prototype"/>
	<bean id="callUsAction" class="com.estore.action.front.CallUsAction" scope="prototype"/>
	<bean id="goodsSearchAction" class="com.estore.action.front.GoodsSearchAction" scope="prototype"/>
	<bean id="goodsDetailAction" class="com.estore.action.front.GoodsDetailAction" scope="prototype"/>
	<bean id="cartFrontAction" class="com.estore.action.front.CartFrontAction" scope="prototype"/>
	<bean id="orderFrontAction" class="com.estore.action.front.OrderFrontAction" scope="prototype"/>
	<bean id="technicalArticleAction" class="com.estore.action.front.TechnicalArticleAction" scope="prototype"/>
	<bean id="forgetPassAction" class="com.estore.action.front.ForgetPassAction" scope="prototype"/>
	<bean id="noticeAction" class="com.estore.action.back.NoticeAction" scope="prototype"/>
	<bean id="customerSerAction" class="com.estore.action.back.CustomerSerAction" scope="prototype"/>
	<bean id="shopLinkAction" class="com.estore.action.back.ShopLinkAction" scope="prototype"/>
	<bean id="integralAction" class="com.estore.action.front.IntegralAction" scope="prototype"/>
	<!-- 生成验证码 -->	
	<bean id="yzmAction" class="com.estore.action.back.YzmAction" scope="prototype"/>
	<bean id="locationFrontAction" class="com.estore.action.front.LocationFrontAction" scope="prototype"/>
	<bean id="favoriteAction" class="com.estore.action.front.FavoriteAction" scope="prototype"/>
</beans>