<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">

	<!-- dao -->
	<bean id="batchDao" class="com.landicorp.core.dao.impl.BatchDaoImpl">
		<property name="sqlSessionTemplate">
			<ref bean="sqlSessionTemplate" />
		</property>
	</bean>
	<bean id="payDao" class="com.landicorp.core.dao.impl.PayDaoImpl">
		<property name="sqlSessionTemplate">
			<ref bean="sqlSessionTemplate" />
		</property>
	</bean>
	<bean id="tenementBatchDao" class="com.landicorp.core.dao.impl.TenementBatchDaoImpl">
		<property name="sqlSessionTemplate">
			<ref bean="sqlSessionTemplate" />
		</property>
	</bean>	
	<bean id="tenementDao" class="com.landicorp.core.dao.impl.TenementDaoImpl">
		<property name="sqlSessionTemplate">
			<ref bean="sqlSessionTemplate" />
		</property>
	</bean>	
	
	<!-- service -->
	<bean id="payService" class="com.landicorp.core.service.impl.PayServiceImpl"></bean>
	<bean id="batchService" class="com.landicorp.core.service.impl.BatchServiceImpl"></bean>
	<bean id="tenementBatchService" class="com.landicorp.core.service.impl.TenementBatchServiceImpl"></bean>
	<bean id="tenementService" class="com.landicorp.core.service.impl.TenementServiceImpl"></bean>
	
	<!-- 数据管理 action-->
	<bean id="ttAction" class="com.landicorp.core.action.data.TuiTionAction" scope="prototype"></bean>
	<bean id="tenementAction" class="com.landicorp.core.action.data.TenementAction" scope="prototype"></bean>
</beans>