<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!--core-->
		<typeAlias alias="user" type="com.landicorp.core.entities.User" />
		<typeAlias alias="patient" type="com.landicorp.core.entities.Patient" />
		<typeAlias alias="right" type="com.landicorp.core.entities.Right" />
		<typeAlias alias="role" type="com.landicorp.core.entities.Role" />
		<typeAlias alias="roleUser" type="com.landicorp.core.entities.RoleUser" />
		<typeAlias alias="area" type="com.landicorp.core.entities.Area" />
		<typeAlias alias="operateLog" type="com.landicorp.core.entities.OperateLog" />
		<typeAlias alias="roleRight" type="com.landicorp.core.entities.RoleRight" />
		<!-- 软件升级 -->
		<typeAlias alias="checkstandVersion" type="com.landicorp.core.entities.CheckstandVersion" />
		<typeAlias alias="project" type="com.landicorp.core.entities.Project" />
		<typeAlias alias="platform" type="com.landicorp.core.entities.Platform" />
		<typeAlias alias="posType" type="com.landicorp.core.entities.PosType" />
		
		
		<!-- 汇率 -->
		<typeAlias alias="money" type="com.estore.entities.Money"/>
		<!-- 会员表 -->
		<typeAlias alias="member" type="com.estore.entities.Member"/>
		<typeAlias alias="memberInfo" type="com.estore.entities.MemberInfo"/>
		<typeAlias alias="address" type="com.estore.entities.Address"/>
		<!-- 类别表 -->
		<typeAlias alias="category" type="com.estore.entities.Category"/>
		<!-- 进货表 -->
		<typeAlias alias="goodsIn" type="com.estore.entities.GoodsIn"/>
		<!-- 商品表 -->
		<typeAlias alias="goods" type="com.estore.entities.Goods"/>
		<!-- 在线留言-->
		<typeAlias alias="onlineMsg" type="com.estore.entities.OnlineMsg"/>
		<typeAlias alias="cart" type="com.estore.entities.Cart"/>
		<typeAlias alias="order" type="com.estore.entities.Order"/>
		<typeAlias alias="orderCart" type="com.estore.entities.OrderCart"/>
		<!-- 公告-->
		<typeAlias alias="notice" type="com.estore.entities.Notice"/>
		<!-- 银行账号-->
		<typeAlias alias="bankAccount" type="com.estore.entities.BankAccount"/>
		<!-- 银行账号-->
		<typeAlias alias="technicalArticle" type="com.estore.entities.TechnicalArticle"/>
		<!-- 分页 -->
		<typeAlias alias="page" type="com.estore.entities.Page"/>
		<!-- 客服 -->
		<typeAlias alias="customerSer" type="com.estore.entities.customerSer"/>
		<!-- 网店链接 -->
		<typeAlias alias="shopLink" type="com.estore.entities.ShopLink"/>
		<!-- 积分 -->
		<typeAlias alias="integral" type="com.estore.entities.Integral"/>
		<!--下载中心 -->
		<typeAlias alias="downCenter" type="com.estore.entities.DownCenter"/>
		<!-- 视频-->
		<typeAlias alias="video" type="com.estore.entities.Video"/>
		
		
		
		<typeAlias type="com.estore.entities.Attribute" alias="attribute"/>
		<typeAlias type="com.estore.entities.AttributeValue" alias="attributeValue"/>
		<typeAlias type="com.estore.entities.GoodsAttribute" alias="goodsAttribute"/>
		<typeAlias type="com.estore.entities.Brand" alias="brand"/>
		<typeAlias type="com.estore.entities.Location" alias="location"/>
		<typeAlias type="com.estore.entities.TransformFee" alias="transformFee"/>
		<typeAlias type="com.estore.entities.Favorite" alias="favorite"/>
		<typeAlias type="com.estore.entities.Coupon" alias="coupon"/>
		<typeAlias type="com.estore.entities.Onsale" alias="onsale"/>
		<typeAlias type="com.estore.entities.OnsaleType" alias="onsaleType"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/landicorp/core/dao/sql.xml" />
		<mapper resource="com/landicorp/core/dao/IUser.xml" />
		<mapper resource="com/landicorp/core/dao/IRight.xml" />
		<mapper resource="com/landicorp/core/dao/IRole.xml" />
		<mapper resource="com/landicorp/core/dao/IRoleUser.xml" />
		<mapper resource="com/landicorp/core/dao/IArea.xml" />
		<mapper resource="com/landicorp/core/dao/IOperateLog.xml" />
		<mapper resource="com/landicorp/core/dao/IRoleRight.xml" />
		<mapper resource="com/landicorp/core/dao/ICheckstandVersionDao.xml" />
		<mapper resource="com/landicorp/core/dao/IProjectDao.xml" />
		<mapper resource="com/landicorp/core/dao/IPlatformDao.xml" />
		<mapper resource="com/landicorp/core/dao/IPosTypeDao.xml" />
		
		<mapper resource="com/estore/dao/IMoneyDao.xml"/>
		<mapper resource="com/estore/dao/IMemberDao.xml"/>
		<mapper resource="com/estore/dao/IMemberInfoDao.xml"/>
		<mapper resource="com/estore/dao/ICategoryDao.xml" />
		<mapper resource="com/estore/dao/IGoodsDao.xml"/>
		<mapper resource="com/estore/dao/IGoodsInDao.xml"/>
		<mapper resource="com/estore/dao/IAddressDao.xml"/>
		<mapper resource="com/estore/dao/IOnlineMsgDao.xml"/>
		<mapper resource="com/estore/dao/ICartDao.xml"/>
		
		<mapper resource="com/estore/dao/IOrderDao.xml"></mapper>
		<mapper resource="com/estore/dao/IOrderCartDao.xml"></mapper>
		<mapper resource="com/estore/dao/INoticeDao.xml"/>
		<mapper resource="com/estore/dao/IBankAccountDao.xml"/>
		<mapper resource="com/estore/dao/ITechnicalArticleDao.xml"/>
		<mapper resource="com/estore/dao/ICustomerSerDao.xml"/>
		<mapper resource="com/estore/dao/IIntegralDao.xml"/>
		
		
		<mapper resource="com/estore/dao/IAttributeDao.xml"/>
		<mapper resource="com/estore/dao/IAttributeValueDao.xml"/>
		<mapper resource="com/estore/dao/IGoodsAttributeDao.xml"/>
		<mapper resource="com/estore/dao/IBrandDao.xml"/>
		<mapper resource="com/estore/dao/IShopLinkDao.xml"/>
		<mapper resource="com/estore/dao/ILocationDao.xml"/>
		<mapper resource="com/estore/dao/ITransformFeeDao.xml"/>
		<mapper resource="com/estore/dao/IFavoriteDao.xml"/>
		
		<mapper resource="com/estore/dao/ICouponDao.xml"/>
		<mapper resource="com/estore/dao/IOnsaleDao.xml"/>
		<mapper resource="com/estore/dao/IOnsaleTypeDao.xml"/>
		<mapper resource="com/estore/dao/IDownCenterDao.xml"/>
		<mapper resource="com/estore/dao/IVideoDao.xml"/>
	</mappers>
</configuration>	
