<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>dmp</display-name>
  <distributable/>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:org/codehaus/xfire/spring/xfire.xml,classpath:/com/estore/config/core/applicationContext.xml,classpath:/com/estore/config/models/applicationContext-*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.landicorp.config.setting.SystemInitListener</listener-class>
  </listener>
  <filter>
    <filter-name>rightManage</filter-name>
    <filter-class>com.landicorp.core.web.rightmanage.RightManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>rightManage</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>illegalCharacterFilter</filter-name>
    <filter-class>com.landicorp.core.web.filter.IllegalCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>illegalCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.landicorp.core.web.session.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>struts-default.xml,struts-plugin.xml,/com/estore/config/core/struts.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>